body{
    margin: 0;
}
header{
    margin: 0%;
    color: white;
    background-color: purple;
    height: 60px;start
    text-align: center;
}
.flexbox{
    margin: 0%;
   
}
.article{
    background-color: aqua;
    padding: 5px;
    margin: 2px;
    height: 600px;
    width: 227px;
    
}
section{
    display: flex;
    flex-wrap: wrap;
   

}
.flex-grow{
    display: flex;
}
.box{
    flex-grow: 1;
}
.box1{
    flex-grow: 2;
}
.square{
    display: flex;
    margin: 5px;
    height: 300px;
    width: 1000px;
    border: 3px solid green;
    align-items: center;
    justify-content: space-around;
    
    
    
}
button {
    font-size: 18px;
    line-height: 1.5;
    width: 15%;
  }
  button:first-child{
        align-self: end;
        
  }